<div class="header">
    <nav class ="header_top">
    
    <div class="header_menu">
        <div class="header_menu_icon">
            <mat-icon>menu</mat-icon>
    
        </div>
       
    </div>
    <img routerLink="/" class="header_logo" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"/>
    
    <div class="header_searchbar">
        <input type="text" class="header_input">
        <!-- <mat-icon>search</mat-icon> -->
        <div class="header_search_icon">
            <mat-icon>search</mat-icon>
        </div>
    </div>
    
    
    <div class="header_left" routerLink="/create_account">
        <span class="header_left_line_one">Hello, Sign in</span>
        <span class="header_left_line_two">Account & Lists</span>
    </div>
    <div class="header_left" routerLink="/">
        <span class="header_left_line_one" >Returns</span>
        <span class="header_left_line_two">& Orders</span>
    </div>
    
    <div class="header_cart" routerLink ="/checkout">
        <mat-icon>shopping_cart</mat-icon>
        <p class="header_cart_number">{{getCartCount()}}</p>
    
    </div>
    
    </nav>
    <nav class="header_bottom">
       <div class="header_location">
           <img class="header_location_icon" src="../../../assets/images/outline_location_on_white_18dp.png"  alt="">
       
            
            
    
           <div>
               <span class="header_left_line_one">Delivery to</span>
               <span  class="header_left_line_two"> <Strong>Kenya</Strong></span>
           </div>
       </div>
     
    </nav>
    </div>
    